.syFocusThumb IMG { border-style:none; vertical-align:top; }
.sliderwrapper .dPic img { border:3px solid #ece7eb; }
.syFocusThumb .prev { background:url(../images/indexP1bg.png) no-repeat; background-position:left top; cursor:pointer; height:40px; left:5px; position:absolute; top:12px; width:8px; }
.syFocusThumb .next { background:url(../images/indexP1bg.png) no-repeat; background-position:-8px top; cursor:pointer; height:40px; left:auto; position:absolute; right:5px; top:12px; width:8px; }
.syFocusThumb .pagination I.selected IMG { background:url(../images/indexP1bg.png) no-repeat; background-position:-16px top; padding:8px 2px 2px; }
.syFocusThumb { border-bottom:1px solid #CCC; height:260px; overflow:hidden; padding-bottom:10px; position:relative; width:300px; }
.syFocusThumb .pagination { background:#dbdcd7; clear:both; color:#fff; height:62px; left:0; position:absolute; text-align:left; top:200px; width:100%; }
.syFocusThumb .pagination IMG { padding:8px 2px 2px; }
.syFocusThumb .thumbWrap { left:20px; overflow:hidden; position:absolute; top:4px; width:260px; }
.syFocusThumb .thumbWrap IMG { -ms-interpolation-mode:bicubic; }
.syFocusThumb .holder { width:4000px; }
.syFocusThumb .holder I { cursor:pointer; margin-right:4px; }
.syFocusThumb .contentdiv { height:260px; text-align:center; }
.syFocusThumb .toc IMG { height:40px; width:70px; }
.focusTit, .focusNew .focusTab { background:url(../images/indexP1bg.png) no-repeat; }
/* big syFocusThumb */
.big-syFocusThumb{width:420px;height:340px;}
.big-syFocusThumb .thumbWrap{width:380px;}
.big-syFocusThumb .pagination {top:270px;}
.big-syFocusThumb .sliderwrapper .dPic img{border:0;}