/*1.1public style*/
body { font-family: Arial, Helvetica, sans-serif, "宋体"; color: #838181; font-size: 12px; }
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em { border: 0 none; margin: 0; padding: 0; }
h1 { float: left; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0 none; }
hr { border:0; height:1px; font-size:0; background:#d6d6d6; }
ul, ol, li { list-style: none; }
a { color: #838181; text-decoration: none; }
/*a:link, a:visited {
 color: #838181;
 text-decoration: none;
}*/
a:hover { color: #00458F; text-decoration: none; cursor: pointer; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.ta_r { text-align:right; }
.fr { float:right; }
/* End hide from IE-mac */  
#wrapper { margin: 0 auto; text-align: left; width: 960px; padding-bottom:20px; }
.layout1 { background:url('../images/bg_line2.gif') 240px top repeat-y; zoom:1; }
.clear { clear: both; height: 0; overflow: hidden; }
/*1.1public style end*/
/*1.2top style*/
#header { padding-top: 5px; height: 50px; background: url('../images/header.png') left bottom repeat-x; border-bottom: 1px solid #c1c1c1;/*background-color:#DDDDD5;
     background:-webkit-gradient(linear, left top, left bottom,
     from(#F1F1F1), to(#c6c6c6));
     border-bottom: 1px solid #c1c1c1;
     */ }
.con { width: 960px; margin: 0 auto; text-align: left; }
#header_menu { height: 38px; float: right; }
#header_menu li { float: left; display: inline; text-align: center; }
#header_menu li a { line-height: 34px; }
.breadcrumb { color:#5090D7; font-size: 14px; font-family: Helvetica, sans-serif; float: right; }
/*1.2top style end*/
/*1.3main style*/
.top_pic { margin-bottom: 20px; width: 100%; background: #000; }
#footer .copyright { width: 960px; margin: 0 auto; text-align: left; }
/*1.3main style end*/
/*1.4footer style*/
#footer { padding: 8px 0 15px 0; background-color: #DDDDD5; line-height: 20px; -webkit-box-shadow: 5px 5px 5px #c9c9c9; /* Safari */ border: 1px solid; border-color: #c9c9c9; clear:both; }
#footer .footer-menu, #footer .footer-menu a { color: #565656; margin: 0px 8px; text-align:center; }
#footer .footer-menu a:hover { color: #00458F; }
/* Delete
 .footer-border {
 height:10px;
 background: url(/static/images/fborder.jpg) repeat-x scroll center;
 }
 */
.footer img { margin-right: 20px; }
/*1.4footer style end*/
/* 2 list.html */
.sidebar, .con-r { float: left; display: inline; }
.sidebar { width: 222px; margin:0px 29px 0px 10px; }
.sidebar li { margin: 5px 60px 0px 0px; padding: 5px; }
.fliter-title { width: 200px; background: #156ac7; color: #fff; font-weight: bold; font-size: 14px; padding: 5px; margin-top: 20px; border-radius: 3px; }
.search-bar { line-height: 30px; padding-left: 10px; padding-top:20px; }
.search-bar .t { border-radius:8px; padding:1px 4px; }
.search-bar * { vertical-align:middle; }
.con-r { width: 680px; }
.conr-title { height: 20px; line-height: 28px; margin: 20px 0 15px 0; font-size: 20px; -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.25))); }
.conr-title h2 { font-size:18px; }
.page { padding: 0px 7px 20px; }
.attr-info { padding:15px; margin:15px; line-height:1.6em; }
.attr-info h3 { font-weight:bold; color:#5090D7; font-size:16px; margin-bottom:0.5em; }
.attr-info p { text-indent:2em; }
.product_list li { display: inline-block; vertical-align: top; min-height:160px; zoom: 1; *display:inline;
_height:160px; width:90px; margin-left:90px; text-align:center; }
.product_list li h4 { font-size:14px; color:#ffb83b; }
.user-defined-char { width:210px; height:200px; overflow:scroll; overflow-x:hidden; }
/* 2 list.html end*/
/* product detail */
.product_detail { padding:0 0px 15px; }
.product_detail p { margin-bottom:1em; }
.product_detail h3 { color:#3399ff; margint-top:1em; margin:1em 0; font-size:14px; }
.product_detail a { color:#3366FF; }
.ul_list { margin:1em 2em; }
.ul_list li { list-style-type:disc; }
.product_detail .detail_cont { float:left; width:617px; padding-right:20px; margin-right:20px; }
.product_detail .detail_meta { float:right; width:300px; }
.product_detail p { margin-bottom:1em; }
.product_show li { float:left; margin:0 0 16px; }
.product_show li img { border:6px solid #e8e8e8; }
.crumb { }
.product_show li.p_l, .product_show li.p_r { padding:5px; border:1px solid #d6d6d6; width:282px; color:#0066ff; }
.product_show li.p_l img, .product_show li.p_r img { border-width:3px; }
.product_show li.p_r { float:right; }
.tab:after { content:"."; display:block; clear:both; visibility:hidden; height:0; }
.tab { zoom:1 }
.tab { margin: 0; list-style: none; border-bottom:1px solid #999; }
.tab li { float: left; }
.tab a { float: left; display: block; margin: 0 1px 0 0; padding: 4px 8px; color: #333; text-decoration: none; border: 1px solid #c8c8c8; border-bottom: none; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; -webkit-border-radius-topleft: 3px; -webkit-border-radius-topright: 3px; }
.tab a:hover, .tab .mouse_on { color:white; padding-bottom: 5px; border-color: #727377; background: #3399ff; position:relative; margin-bottom:-1px; }
.tab_cont { border:1px solid #cfcfcf; padding:5px; margin-top:-1px; }
.tab_cont div { display:none; }
.table { border-collapse:collapse; border:0; }
.table td, .table th { border:1px solid #cfcfcf; }
.table thead th { background-color:#e4e4e4; text-align:center; font-weight:normal; padding:2px; color:#515151; }
.comment_list { padding-bottom:10px; }
.comment_list p.user { margin-bottom:1em; }
.comment_list a { font-size:14px; text-decoration:underline; }
/*.gallery .booth { text-align:center; margin-bottom:50px; }
.gallery .booth img { border:5px solid #e9e9e9; }
.gallery .thumb { background-color:#ededed; float:left; padding:3px 0 3px 3px; }
.gallery .thumb li { float:left; margin-right:3px; display:inline; }
.gallery .thumb li a { border:1px solid #ededed; float:left; }
.gallery .thumb li a img { vertical-align:middle; }
.gallery .thumb li a:hover { border:1px solid #336699; }
.gallery { padding-bottom:10px; border-bottom:1px solid #CCC; }*/
.detail_meta .list_price { border-bottom:1px solid #d6d6d6; }
.detail_meta .list_price dt { color:#00bcff; margin-top:1em; font-weight:bold; }
.detail_meta .list_price dd { margin-bottom:1em; }
.detail_meta .list_other { border-bottom:1px solid #d6d6d6; padding:0.5em 0; }
.detail_meta .list_other dt { color:#00bcff; font-weight:bold; margin-bottom:0.5em; }
/* score */
.score { background:url("../images/entry_img101110.gif") left top no-repeat; height:18px; line-height:18px; padding-left:100px; display:block; }
.s0 { background-position:-310px -2px; }
.s1 { background-position:-310px -21px; }
.s2 { background-position:-310px -40px; }
.s3 { background-position:-310px -59px; }
.s4 { background-position:-310px -78px; }
.s5 { background-position:-310px -160px; }
.s6 { background-position:-310px -179px; }
.s7 { background-position:-433px -160px; }
.s8 { background-position:-433px -179px; }
.s9 { background-position:-566px -160px; }
.s10 { background-position:-566px -179px; }
.gray9 { color:#999999; }
/* meta */
.product_detail .price { font-size:16px; font-weight:bold; margin-bottom:0; }
.meat_table { margin:15px 0; }
.meat_table td, .meat_table th { text-align:left; vertical-align:top; }
.meat_table td em { font-style:normal; color:#CC3300; }
.select_color { padding-bottom:10px; }
.select_color li { float:left; background:url(/static/images/select_color.jpg) -2px -4px no-repeat; width:16px; height:16px; margin-right:10px; margin-bottom:5px; text-indent:-9999px; overflow:hidden; }
.select_color li.c2 { background-position:-28px -4px; }
.select_color li.c3 { background-position:-54px -4px; }
.select_color li.c4 { background-position:-80px -4px; }
.select_color li.c5 { background-position:-106px -4px; }
.select_color li.c6 { background-position:-132px -4px; }
.select_color li.c7 { background-position:-2px -24px; }
.select_color li.c8 { background-position:-28px -24px; }
.select_color li.c9 { background-position:-54px -24px; }
.select_color li.c10 { background-position:-80px -24px; }
.select_color li.c11 { background-position:-106px -24px; }
.add_attribute_form .field_div { padding-bottom:5px; }
/* gallery */
#gallery { text-align:center; }
#gallery_nav { padding:40px 0; }
#gallery_nav a { display:inline-block; margin:0 20px; color:#33bcff; }
#gallery_nav a { zoom:1; }
#gallery_output { height:420px; overflow:hidden; text-align:center; width:960px; }
#gallery_output img { display:block; margin:0 auto; }
#search { padding-bottom:30px; }
#search .t { width:300px; border:1px solid #7f9db9; padding:3px; color:#cccccc; }
.crumb { color:#515151; padding:15px 10px 10px; }
.crumb a { color:#bcbcbc; }
.crumb strong { color:#3399ff; }
/* list2 */
.sidebar2, .con-r2 { float: left; display: inline; }
.sidebar2 { width: 200px; padding:5px 15px 10px; background-color:#f2f2f2; border:1px solid #c9c9c9; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; }
.con-r2 { width:725px; }
.crumb2 { color:#515151; padding:5px 10px; background:url(/static/images/bg_crumb.png) left bottom repeat-x; border:1px solid #e4e4e4; border-top:0; float:left; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; margin-bottom:10px; }
.crumb2 a { color:black; }
.crumb2 strong { color:#3399ff; font-weight:normal; }
.title_filter { color:black; font-size:14px; border-bottom:1px solid #CCC; padding-bottom:5px; }
.sidebar2 .list { padding:10px 0 0; border-bottom:1px solid #CCC; padding-bottom:10px; position:relative; zoom:1; }
.sidebar2 .list h3 { font-weight: normal; color:black; font-size:12px; }
.sidebar2 .list .list_bd { margin-top:10px; }
.sidebar2 .list .list_bd li { padding:0; margin:0; }
.sidebar2 .list .more { color:#3399ff; text-decoration:underline; background:url(/static/images/bg_more.png) left top no-repeat; width:51px; height:21px; line-height:21px; text-align:center; display:inline-block; +display:inline;
text-decoration: none; color:white; }
.sidebar2 .list .more { +zoom:1;
}
.sidebar2 .list .no_item { position:absolute; right:0; top:7px; margin:0; }
.showing { background:url(/static/images/bg_showing.png) left top repeat-x; height:26px; line-height:26px; padding-top:5px; }
.showing .order_by { float:right; color:white; padding-right:20px; }
.showing .order_by dt, .showing .order_by dd { display:inline; margin-left:15px; float:left; }
.showing .order_by dd { color:#CCC; padding:0 10px; cursor:default; }
.showing .order_by .current { color:#868686; background:white url(/static/images/bg_menu.png) left top repeat-x; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; }
.product_list2 .row { position:relative; min-height:180px; _height:180px; zoom:1; padding:20px 0 20px 230px; border-bottom:1px solid #CCC; }
.product_list2 .picture { position:absolute; left:0; }
.product_list2 h3 { color:#3399ff; font-size:14px; }
.product_list2 .price { font-size:12px; color:#000; line-height:2em; }
.evaluate { padding:5px 0 10px; line-height:1.5em; }
.evaluate dt { color:#000; line-height:2em; font-weight:bold; }
.evaluate dl { width:40%; float:left; margin-right:8%; display:inline; }
.evaluate dl dd { padding-left:15px; background:url(/static/images/icon_pointer_black.gif) left 6px no-repeat; }
/* layout1 */
.layout1 .sidebar3 { width:200px; float:left; }
.layout1 .con-r3 { float:right; width:700px; }
.user-avatar { text-align:center; }
.user-avatar .avatar { width:100px; height:100px; }
.user-treasure { padding-bottom:20px; }
.user-treasure a { color:#3399ff; }
.user-treasure h3 { font-weight:normal; font-size:12px; }
.user-treasure ul { background:#cccccc; padding:5px 0 0 5px; margin-right:15px; }
.user-treasure ul li { float:left; padding-right:5px; padding-bottom:5px; }
.user-treasure ul li img { vertical-align:top; }
.user-treasure .view-all { padding-top:5px; }
.trademark { top:10px; }
.trademark h3 { font-weight:normal; font-size:12px; }
.trademark ul li { clear:both; }
.trademark ul label { color:white; -moz-border-radius:3px; -webkit-border-radius: 3px; background-color:#0099ff; border:1px solid white; float:left; clear:both; margin-top:4px; padding:2px 4px; }
.trademark span { float:left; margin-top:6px; padding:2px 4px; }
.add-commodity { padding-bottom:10px; }
.add-commodity .add-meta li { padding-bottom:5px; }
.add-commodity li span { float:left; width:60px; padding-top:4px; }
.add-commodity li.select-pic span { padding-top:12px; _width:63px; }
.add-commodity li.select-pic { padding-top:1px; }
.add-commodity li.select-pic a { float:left; margin-right:2px; }
.add-commodity li.select-pic .selected, .add-commodity li.select-pic a:hover { border:1px solid #3399FF; margin-top:-1px; margin-left:-1px; }
.add-commodity li.select-pic img { vertical-align:top; display:block; }
/* product detail */
.product-detail .detail-item { padding:10px 0; }
.product-detail .gallery { width:480px; float:left; padding: 20px 0px; border-bottom: 1px dash #3399ff; }
.product-detail .gallery .wrap { position:relative; padding-left:60px; height:1%; }
.product-detail .mini-avatar { position:absolute; left:0; top:0; width:60px; overflow:hidden; text-align:center; }
.ask-question { clear:both; padding:5px 0; }
.ask-question p { padding-bottom:5px; }
.ask-question .question-fields { width:98%; }
.product-detail .valuation { width:200px; float:right; }
.valuation .list { padding-bottom:10px; }
.valuation .list li { background:url(/static/images/icon_pointer_black.gif) left 5px no-repeat; padding-left:10px; }
.valuation .list li p { margin-bottom:1em; }
.valuation .evaluate-list li { padding-bottom:5px; }
.valuation .evaluate-list li strong { color:#5a99ff; }
.valuation .evaluate-list li .summarize { color:black; }
/*star*/
.stars { display:inline-block;  +display:inline;
zoom:1; width:60px; height:12px; background:url(/static/images/dpForm_1_0_0.png) left top no-repeat; }
.star-value-3d0 { background-position:left top; }
.star-value-3d1 { background-position:left -20px; }
.star-value-3d2 { background-position:left -40px; }
.star-value-3d3 { background-position:left -60px; }
.star-value-3d4 { background-position:left -80px; }
.star-value-3d5 { background-position:left -100px; }
/* overview */
/*.product-view{
 width:680px;
 float:left;
 border:1px solid red;
}
.product-evaluation{
 float:right;
 width:200px;
 border:1px solid red;
}*/
.sidebar3, .con-r3 { float:left; display:inline; }
.con-r3 { width:680px; float:left; padding-top:20px; }
.sidebar3 { float:right; width:200px; padding-top:20px; }
.overview-tab { height:30px; line-height:30px; background-color:#282828; padding-left:20px; }
.overview-tab ul a { color:#cccccc; }
.overview-tab ul li.actived a { font-weight:bold; color:white; }
.overview-tab ul li { padding:0 20px; display:inline; }
.detail-view h3 { color:#3399FF; margin-bottom:10px; font-weight:normal; }
.detail-view .dv-gallery { float:right; width:400px; margin-left:50px; height:325px; overflow:hidden; position:relative; }
.detail-view .dv-gallery .attention { position:absolute; right:0px; top:0; }
.detail-view .dv-gallery .attention em { font-family:Georgia; font-size:20px; font-style:normal; }
.detail-view .survey { clear:both; border-bottom:1px solid #cccccc; margin-bottom:30px; padding-bottom:5px; }
.detail-view .survey li { display:inline; padding-right:25px; line-height:2em; }
.detail-view .survey li em { font-family:Georgia; font-size:20px; font-style:normal; }
.guestbook .legend strong { font-weight:normal; font-size:14px; color:#3399ff; }
.guestbook .field { padding-top:20px; }
.guestbook .field-submit { padding-top:10px; }
.guestbook .text, .guestbook .textarea { color:#838181; border:1px solid #6699cc; width:98%; padding:4px 2px; }
.post { color:#c9c9c9; padding:20px 0; }
.post h2 { font-size:12px; color:#666666; }
.post-items { margin:20px 20px 0; padding-left:65px; position:relative; min-height:60px; _height:60px; border-bottom:1px dotted #CCC; }
.post-items h3 { color:#3399ff; font-size:12px; }
.post-items p { line-height:1.6em; }
.post-items .author { color:#999999; }
.post-items .view a { color:#c9c9c9; }
.post-items .avatar { position:absolute; left:0; }
.user-feedback h3 { font-size:12px; font-weight:bold; color:#666666; margin:5px 0; }
.cybershop, .assess { margin-bottom:30px; }
.cybershop li { border-bottom:1px dotted #999; clear:both; line-height:2em; overflow:hidden; padding:1px 0; _zoom:1; }
.cybershop li .title a { color:#3399ff; text-decoration:underline; }
.cybershop li .title { float:left; }
.cybershop li .num { float:right; }
.cybershop .marks { color:#f2f2f2; font-weight:bold; font-size:16px; float:right; padding:0 5px; line-height:24px; border:1px solid #cccccc; background-color:#3399ff; }
.assess li { line-height:1.5em; color:black; }
.assess .easy { color:#868686; }
.assess .easy strong { color:#3399ff; }
.view-all { text-align:right; padding-top:15px; }
.view-all a { color:#3399ff; }

.syFocusThumb IMG { border-style:none; vertical-align:top; }
.sliderwrapper .dPic img { border:3px solid #ece7eb; }
.syFocusThumb .prev { background:url(/static/images/indexP1bg.png) no-repeat; background-position:left top; cursor:pointer; height:40px; left:5px; position:absolute; top:12px; width:8px; }
.syFocusThumb .next { background:url(/static/images/indexP1bg.png) no-repeat; background-position:-8px top; cursor:pointer; height:40px; left:auto; position:absolute; right:5px; top:12px; width:8px; }
.syFocusThumb .pagination I.selected IMG { background:url(/static/images/indexP1bg.png) no-repeat; background-position:-16px top; padding:8px 2px 2px; }
.syFocusThumb { border-bottom:1px solid #CCC; height:260px; overflow:hidden; padding-bottom:10px; position:relative; width:300px; }
.syFocusThumb .pagination { background:#dbdcd7; clear:both; color:#fff; height:62px; left:0; position:absolute; text-align:left; top:200px; width:100%; }
.syFocusThumb .pagination IMG { padding:8px 2px 2px; }
.syFocusThumb .thumbWrap { left:20px; overflow:hidden; position:absolute; top:4px; width:260px; }
.syFocusThumb .thumbWrap IMG { -ms-interpolation-mode:bicubic; }
.syFocusThumb .holder { width:4000px; }
.syFocusThumb .holder I { cursor:pointer; margin-right:4px; }
.syFocusThumb .contentdiv { height:260px; text-align:center; }
.syFocusThumb .toc IMG { height:40px; width:70px; }
.focusTit, .focusNew .focusTab { background:url(/static/images/indexP1bg.png) no-repeat; }
/* big syFocusThumb */
.big-syFocusThumb{width:420px;height:340px;}
.big-syFocusThumb .thumbWrap{width:380px;}
.big-syFocusThumb .pagination {top:270px;}
.big-syFocusThumb .sliderwrapper .dPic img{border:0;}


/* Add by Perchouli */
.add-commodity h3 {margin-bottom: 5px}
.add-meta input, .ask-question input{border: 1px #ddd solid;padding:2px;}
    .ask-question input {color: #ccc; padding:5px; }
#picture_upload { border:none }
.add-meta .select-pic {display: none;}
.valuation {display: none;}